* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkblue;
    color: #ffffff;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.palindrome-div {
    width: min(100vw, 450px);
    min-height: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 0;
    background-color: white;
    box-shadow: 0 6px 6px #002ead;
    color: black;
}

label {
    color: #0a0a23;
    margin-bottom: 20px;
}

#text-input {
    height: 30px;
    width: 250px;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #5a01a7;
}

.palindrome-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #5a01a7;
    color: white;
    cursor: pointer;
}

.palindrome-definition-div {
    width: min(100vw, 450px);
    font-size: 1.3rem;
    min-height: 140px;
    background-color: #00471b;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.palindrome-definition {
    vertical-align: middle;
    text-align: center;
}

.user-input {
    font-size: 1.4rem;
    margin-top: 10px;
    text-align: center;
}